watch_file manifest.scm
use guix -m manifest.scm
export GUIX_PYTHONPATH=$PWD:${GUIX_PYTHONPATH:-}
if [[ -z ${GUIX_ENVIRONMENT:-} ]]; then
  first_path=${PATH%%:*}
  # Remove /bin suffix if it exists
  export GUIX_ENVIRONMENT=${first_path%/bin}
fi